
* {
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
  
  nav:li {
    display:inline-block;
    position:fixed;
  }

  .gmail img {
    width: 100px;
  }

  .Linkedin img {
    width: 100px;
  }

  .Github img{
    width: 185px;
  }

  #Data-Science {
    display: flex;
    border: 250px;
    justify-content: space-evenly;
    width: 100%
  }
  
#blank {
  height:100px;
}

  body {
  background-color: #FFE53B;
  background-image: linear-gradient( #37D5D6, #36096D);
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  /*display: flex;*/
  display: block;
  font-family: 'Fira Sans', sans-serif;
  }
  
.Profiles {
    display: flex;
      justify-content: space-evenly;
}

  p{
    line-height: 0.95;
    word-spacing: 2px;
    white-space:normal;
  }
  
  h1 {
    font-size: 250%;
    text-align: center;
  }
  
  i {
    font-size: 125%
  }
  
  
  .About_Me {
    text-align: center;
  }
  
  
  /* make div clickable, DO NOT DELETE*/
  .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  
  .box-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 5px solid gray;
    /*position: relative;*/
    cursor: pointer; 
    height: 685px;
  }
  


  .box-container:hover {
    transform: scale(1.15)
  }
  
  
  .box-image img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .box-text {
    margin-top: 10px;
    text-align: center;
    /*font-weight: bold;*/
  }


 .box-text p{
    padding-bottom: -100.5em;
  }