
* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

nav:li {
  display:inline-block;
  position:fixed;
}


/* NAV BAR DESIGN


/* Menu Dropdown */


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.menu,
.submenu {
 margin: 0;
 padding: 0;
 list-style: none;
}

.menu {   
 margin: 50px auto;
 width: 800px;   
 width: -moz-fit-content;
 width: -webkit-fit-content;
 width: fit-content; 
}

.menu > li {
 background: #000;
 float: left;
 position: relative;
 transform: skewX(25deg);
}

.menu a {
 display: block;
 color: #fff;
 text-transform: uppercase;
 text-decoration: none;
 font-family: Arial, Helvetica;
 font-size: 14px;
}  

.menu li:hover {
 background: #e74c3c;
}  

.menu > li > a {
 transform: skewX(-25deg);
 padding: 1em 2em;
}

/* Dropdown */
.submenu {
 position: absolute;
 width: 200px;
 left: 50%; margin-left: -100px;
 transform: skewX(-25deg);
 transform-origin: left top;
}

.submenu li {
 background-color: #34495e;
 position: relative;
 overflow: hidden;  
}      

.submenu > li > a {
 padding: 1em 2em;   
}

.submenu > li::after {
 content: '';
 position: absolute;
 top: -125%;
 height: 100%;
 width: 100%;   
 box-shadow: 0 0 50px rgba(0, 0, 0, .9);   
}  

.submenu > li:nth-child(odd){
 transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
 transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
 right: -50%;
 transform: skewX(-25deg) rotate(3deg);
}    

.submenu > li:nth-child(even){
 transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
 transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
 left: -50%;
 transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
 opacity: 0;
 visibility: hidden;   
}

.submenu li {
 transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
 opacity: 1;
 visibility: visible;
}  

.menu > li:hover .submenu li:nth-child(even){
 transform: skewX(25deg) translateX(15px);   
}

.menu > li:hover .submenu li:nth-child(odd){
 transform: skewX(-25deg) translateX(-15px);   
}

 /* END OF NAVBAR DESIGN */


#BIO {
  margin:auto;
  position: relative;
  align-items: center;
  text-align: center;
}*/

.About_Me {
  margin: 5%; 
  padding: 2%;
  text-align: center;
}

.image-container img{
  width: 250px;
}

.bio-text{
  width: 400px;
  text-align: center;
  margin: auto;
}

.bio-text p{
  font-size: 110%;
}

#DATA-SCIENCE-PROJECTS {
 text-align: center;
}


.Profiles {
  display: flex;
  justify-content: center;
  height: auto;
  width:auto;
}
.gmail img {
  width: 100px;
}

.Linkedin img {
  width: 100px;
}

.Github img{
  width: 165px;
}

#Data-Science {
  display: flex;
  border: 250px;
  justify-content: space-evenly;
  width: 100%
}

#blank {
height:100px;
}

body {
background-color: #FFE53B;
background-image: linear-gradient( #37D5D6, #36096D);
min-height: 100vh;
font-family: 'Fira Sans', sans-serif;
/*display: flex;*/
display: block;
font-family: 'Fira Sans', sans-serif;
}

.Profiles {
  display: flex;
    justify-content: space-evenly;
}

p{
  line-height: 0.95;
  word-spacing: 2px;
  white-space:normal;
}

h1 {
  font-size: 250%;
  text-align: center;
}

i {
  font-size: 125%
}


.About_Me {
  text-align: center;
}





.box-container {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 5px solid gray;
  /*position: relative;*/
  /*cursor: pointer; */
  height: 650px;
  /*height: 725px;*/
}




.box-image img {
  width: 100%;
  height: 125px;
  display: block;
  margin-bottom: 10px;
}

.box-text {
  margin-top: 10px;
  text-align: center;
  /*font-weight: bold;*/
}


.box-text p{
  padding-bottom: -100.5em;
}


/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}


/* SCROLL TO TOP*/
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}